<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | url }}" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My name is Bruno, and I'm a self-taught game developer."/>
    <title>{{ title }}</title>
</head>
<body>
    <div class="content">
        {% include "header.njk" %}
        <main class="main container">
            {{ content | safe }}
        </main>
    </div>
    {% include "footer.njk" %}
</body>
</html>