<div class="head__container">
    <header class="header container">

        <h1 class="header__title">
            <div class="profile__image-wrapper">
                {% EleventyImage "/images/new_design_upscale.png", "Bruno Talaga, A Game Developer", "(min-width: 16em) 50vw, 100vw" %}
            </div>
            <a class="title__link" href="{{ '/' | url }}"><p>Bruno Talaga</p><p class="header__subtitle">A Game Developer</p></a>
            
        </h1>
        <ul class="header__links">
            <li>
                <a class="header__link" href="{{ '/about' | url }}">About</a>
            </li>
            <li>
                <a class="header__link" href="{{ '/projects' | url }}">Projects</a>
            </li>
            <li>
                <a class="header__link" href="{{ '/contact' | url }}">Contact</a>
            </li>
        </ul>
    </header>
</div>