<section class="profile">
    <div class="profile__card">
        <p class="profile__text">My name is <span class="profile__text--highlight">Bruno</span>, I am a self-taught <span class="profile__text--highlight">Game Developer</span>.</p>
        <p class="profile__text">I've been interested in making games since I was little, and <span class="profile__text--highlight">Game Design</span> is my passion.</p>
        <p class="profile__text">My main focus is making accessible and memorable experiences for all players.</p>
        <p class="profile__text">Feel free to <a class="profile__link" href="/contact">contact me</a> about my projects or job opportunities.<p>
    </div>
</section>