<section class="technologies">
    <h2 class="technologies__heading">Tools I have experience in: </h2>
    <ul class="technologies__list">
        <li class="technologies__item">
            <div class="technologies__logo">
            <img src="/images/unity_logo.svg" alt="Unity Logo">
            </div>
            <h3 class="technologies__title">Unity</h3>
        </li>
        <li class="technologies__item">
            <div class="technologies__logo">
            <img src="/images/c-sharp_logo.svg" alt="C# Logo">
            </div>
            <h3 class="technologies__title">C#</h3>
        </li>
        <li class="technologies__item">
            <div class="technologies__logo">
                <img src="/images/notion_logo.png" alt="Notion Logo">
            </div>
            <h3 class="technologies__title">Notion</h3>
        </li>
        <li class="technologies__item">
            <div class="technologies__logo">
                <img src="/images/git_logo.svg" alt="Git Logo">
            </div>
            <h3 class="technologies__title">Git</h3>
        </li>
    </ul>
</section>