---
title: "Bruno Talaga's Projects"
layout: "base.njk"
---

<h2 class="heading--main text-center">My projects</h2>
<div class="project-list">
  {% asyncEach project in collections.projects | reverse %}
    {% include "project-card.njk" %}
  {% endeach %}
</div>