<section class="projects">
  <h2 class="project__heading">My projects</h2>
  <div class="project-grid">
    {% asyncEach project in collections.projects | reverse %}
      {% include "project-card.njk" %}
    {% endeach %}
  </div>
</section>