---
title: "Bruno Talaga's Portfolio"
layout: "base.njk"
---

<h2 class="heading--main text-center">Want to get in touch?</h2>
<p class="contact__sub-heading text-center">Here's how you can reach me. </p>
<h2 class="contact_h">Contact methods</h2>
<div class="contact__linkwrapper">
  <a class="contact__link" href="https://www.linkedin.com/in/bruno-talaga" target="__blank"><img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg"><p>LinkedIn</p></a><br>
  <a class="contact__link" href="mailto:brunotalaga2002@gmail.com"><img src="https://www.reshot.com/preview-assets/icons/UERZ83AW2P/email-UERZ83AW2P.svg"><p>brunotalaga2002@gmail.com</p></a>
</div>
<h2 class="contact_h">Other links</h2>
<div class="contact__linkwrapper">
  <a class="contact__link" href="https://gamejolt.com/@w4ty" target="__blank"><img src="https://s.gjcdn.net/assets/71e20016.png"><p>Game Jolt</p></a><br>
  <a class="contact__link" href="https://github.com/w4ty" target="__blank"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"><p>Github</p></a>
</div>