---
title: "Bruno Talaga's Projects"
layout: "base.njk"
---

<h2 class="projects__heading">My projects</h2>
<div class="project-list">
  {% for project in collections.projects | reverse %}
    {% include "project-card.njk" %}
  {% endfor %}
</div>